@import 'tailwindcss';

/* Dark mode */
@custom-variant dark (&:where(.dark, .dark *));
/* Import fonts */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/dm-sans/DMSans-VariableFont_opsz-wght.ttf')
    format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf')
    format('truetype');
  font-display: swap;
}
@theme {
  /* Colors */
  --color-hueso-light: #f4f3ee;
  --color-gray-dark: #1e1e1e;

  /* Fonts */
  --font-DM-Sans: 'DM Sans';
  --font-Playfair-Display: 'Playfair Display';
}
@layer base {
  h1 {
    @apply text-4xl font-extrabold font-Playfair-Display text-gray-700 dark:text-gray-300 mb-7 md:text-5xl;
  }
  h2 {
    @apply text-3xl font-bold font-Playfair-Display text-gray-700 dark:text-gray-300 mb-4;
  }
  h3 {
    @apply text-2xl font-semibold font-Playfair-Display text-gray-700 dark:text-gray-300 mb-4;
  }
  h4 {
    @apply text-xl font-medium font-Playfair-Display text-gray-700 dark:text-gray-300 mb-4;
  }
  h5 {
    @apply text-lg font-medium font-Playfair-Display text-gray-700 dark:text-gray-300 mb-4;
  }
  h6 {
    @apply text-base font-medium font-Playfair-Display text-gray-700 dark:text-gray-300 mb-4;
  }
  p {
    @apply md:text-lg max-w-prose text-gray-700 dark:text-gray-300 leading-relaxed mb-4;
  }
  a {
    @apply text-blue-800 dark:text-blue-300 underline hover:text-blue-800 hover:no-underline;
  }
}