---
interface LanguageItem {
  text: string;
  colors: string;
}

const languages: LanguageItem[] = [
  { text: 'Inglés', colors: 'bg-teal-100 text-teal-800' },
  { text: 'Español', colors: 'bg-teal-100 text-teal-800' },
  { text: 'Quechua', colors: 'bg-teal-100 text-teal-800' },
  { text: 'Francés', colors: 'bg-yellow-100 text-yellow-800' },
  { text: 'Ruso', colors: 'bg-yellow-100 text-yellow-800' },
  { text: 'Griego', colors: 'bg-yellow-100 text-yellow-800' },
  { text: 'Suajili', colors: 'bg-purple-100 text-purple-800' },
  { text: 'Yoruba', colors: 'bg-purple-100 text-purple-800' },
  { text: 'Zulú', colors: 'bg-purple-100 text-purple-800' },
  { text: 'Árabe', colors: 'bg-red-100 text-red-800' },
  { text: 'Mandarín', colors: 'bg-red-100 text-red-800' },
  { text: 'Hindi', colors: 'bg-red-100 text-red-800' },
  { text: 'Japonés', colors: 'bg-red-100 text-red-800' },
  { text: 'Maorí', colors: 'bg-blue-100 text-blue-800' },
  { text: 'Cherokee', colors: 'bg-blue-100 text-blue-800' },
  { text: 'etc.', colors: 'bg-blue-100 text-blue-800' },
];
---

<div
  class="bg-custom-gray-800 border border-custom-gray-700 rounded-md my-8 overflow-hidden"
>
  <div
    class="h-8 bg-custom-gray-700 border-b-3 border-custom-gray-700 text-white font-medium flex justify-center items-center"
  >
    IPA
  </div>

  <div class="flex flex-wrap justify-center p-4">
    {
      languages.map(({ text, colors }) => (
        <span
          class={`m-1 px-3 py-1 ${colors} text-sm font-semibold rounded-full`}
        >
          {text}
        </span>
      ))
    }
  </div>
</div>
