---
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  alt: string;
  caption?: string;
  class?: string;
}

const { src, alt = '', caption = '', class: className = '' } = Astro.props;
---

<div class=`h-auto p-2 rounded-md bg-white ${className}`>
  <div class="w-full bg-green-200 text-black">
    <Image src={src} alt={alt} />
  </div>
  <div class="text-gray-700/90 text-center text-sm mt-3">{caption}</div>
</div>
