---
import Icon from '@/components/icons/icon.astro';
---

<footer
  class="max-w-5xl w-full mx-auto flex items-center justify-center gap-2 py-12"
>
  <div class="flex items-center">
    <p class="flex gap-1 my-auto text-sm text-gray-600 dark:text-gray-300">
      © 2025 Made by
      <a
        class="relative inline-block after:[content:''] after:block after:h-0.5 after:bg-orange-400 after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100 after:origin-left group"
        href="https://github.com/seandsun"
        target="_blank"
        rel="noopener noreferrer"
        ><span
          class="flex items-center justify-center group-hover:text-gray-600 group-hover:dark:text-gray-300"
          >Seandsun <Icon
            name="arrowRight"
            class="size-4 -rotate-45 text-transparent group-hover:text-gray-600 group-hover:dark:text-gray-300"
          /></span
        >
      </a>
    </p>
    <img
      class="rounded-full bg-black size-6"
      src={`${import.meta.env.BASE_URL}favicon.svg`}
      alt="Logo del proyecto zero english"
    />
  </div>
</footer>
