---
import Moon from '@/components/icons/moon.astro';
import Sun from '@/components/icons/sun.astro';
import Ufo from '@/components/icons/ufo.astro';
import UfoOff from '@/components/icons/ufo-off.astro';
import ArrowRight from '@/components/icons/arrow-right.astro';
import ArrowLeft from '@/components/icons/arrow-left.astro';

const icons = {
  moon: Moon,
  sun: Sun,
  ufo: Ufo,
  ufoOff: UfoOff,
  arrowRight: ArrowRight,
  arrowLeft: ArrowLeft,
};

type IconName = keyof typeof icons;

interface Props {
  name: IconName;
  class?: string;
}

const { name, class: className } = Astro.props as Props;

const IconComponent = icons[name];
---

{
  IconComponent ? (
    <IconComponent class={className} />
  ) : (
    <span class="text-red-500 font-mono text-xs">
      [icon "{name}" not found]
    </span>
  )
}
